<%= form_for(@move) do |f| %>
  <% if @move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@move.errors.count, "error") %> prohibited this move from being saved:</h2>

      <ul>
      <% @move.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <b>Please select your Letter:</b>

  <div>
    <%= f.label :letter %>
    <%= f.select :letter, ['X', 'O'] %>
  </diV>

  <b>Make your Move!!</b> 

  <div>
    <%= f.label :position %>
    <%= f.select :position, ['1', '2', '3', '4', '5', '6', '7', '8', '9'] %>
  </div>

  <div class="actions">
    <%= f.submit "Place Move" %>
  </div>
<% end %>
